@import 'grid.scss';

@font-face {
  font-family: 'FranklinGothicHeavy';
  src: url('../fonts/FranklinGothic-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FranklinGothic-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FranklinGothic-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/FranklinGothic-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FranklinGothic-Heavy.svg#svgFontName') format('svg'); /* Legacy iOS */
}


html, p {
  font-family: 'Ubuntu','Helvetica','Lato', 'Amaranth', sans-serif;
  margin: 0;
  font-size: 14px;
}

body {
  background-image: url("../img/background2.png");
}

a {
  text-decoration: none;
  color: inherit;
}

h2, h3 {
  font-family: 'FranklinGothicHeavy';
  font-size: 50px;
  color: #c0c0c2;
}

h4 {
  font-family: 'FranklinGothicHeavy';
  font-size: 25px;
  color: #c0c0c2;
}

#logo {
  p {
    font-family: 'FranklinGothicHeavy';
    font-size: 56px;
    color: #2c2d2d;
    line-height: 40px;
  }
  p:nth-of-type(even) {
    color: #6c9ce4;
  }

   img {
     width: 100%;
   }
}

#menu {
  text-align: right;

  .img {
    position: relative;
    display: inline-block;
  }
  img {

  }

  .menuText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    font-weight: bolder;
  }
}

#aboutMe {
  p {
    margin-right: 10%;
    line-height: 25px;
  }
}

#work {
  text-align: left;
  ul {
    list-style-type: none;
    line-height: 30px;
    padding: 0;
  }
}

#welcome {
  margin-bottom: 10%;

  p {
    margin-right: 10%;
    line-height: 25px;
  }
}

#preview {
  img {
    width: 100%;
    height: auto;
  }
}

#contact {
  input[type=text] {
     border: 1px solid #ECECED;
     margin-top: 5px;
     padding: 5px;
     width: 70%;
     font-family: 'Ubuntu';
  }
  #contact-message {
     border: 1px solid #ECECED;
     margin-top: 5px;
     display: inline-block;
     width: 70%;
     padding: 5px;
     font-family: 'Ubuntu';
  }
  input[type=image] {
     margin-top: 5px;
     padding: 5px;
     width: 10%;
  }

}

#contactDetails {
  p {
    font-family: 'Ubuntu';
    font-size: 14px;
    display: block;
  }
  span {
    color: #8181e2;
  }
  img {
    float: left;
    margin-right: 5%;
  }
  div {
    display: flex; //przy mobilu zmienic
    // justify-content: center;
    align-items: center;
    margin-bottom: 2%;
  }
}

#technology {
  text-align: center;
  img {
    width: 40%;
    display: inline-block; //przy mobilu zmienic
    margin: 0 auto;
  }
}

#canHelp {
  margin-top: 10%;
  img {
    float: left;
  }
  ul {
    list-style-type: none;
    line-height: 30px;
    padding: 0;
    font-family: 'Ubuntu';
    font-size: 14px;
  }
}

// footer
#top {
  text-align: right;
}

#copyright {
  text-align: center;
  color: gray;
  font-size: 8px;
  p {
    font-size: 8px;
  }
}

.hr {
  border: 1px solid #F5FFFA;
}
