@import 'grid.scss';

@font-face {
  font-family: 'FranklinGothicHeavy';
  src: url('../fonts/FranklinGothic-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FranklinGothic-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FranklinGothic-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/FranklinGothic-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FranklinGothic-Heavy.svg#svgFontName') format('svg'); /* Legacy iOS */
}


html, p {
  font-family: 'Ubuntu','Helvetica','Lato', 'Amaranth', sans-serif;
  margin: 0;
  font-size: 14px;
}

body {
  background-image: url("../img/background2.png");
}

a {
  text-decoration: none;
  color: inherit;
}

h2, h3 {
  font-family: 'FranklinGothicHeavy';
  font-size: 50px;
  color: #c0c0c2;
}

h4 {
  font-family: 'FranklinGothicHeavy';
  font-size: 25px;
  color: #c0c0c2;
}

#logo {
  p {
    font-family: 'FranklinGothicHeavy';
    font-size: 56px;
    color: #2c2d2d;
    line-height: 40px;
  }
  p:nth-of-type(even) {
    color: #6c9ce4;
  }

   img {
     width: 100%;
   }
}

#menu {
  text-align: right;

  .img {
    position: relative;
    display: inline-block;
  }
  img {

  }

  .menuText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    font-weight: bolder;
  }
}

#aboutMe {
  position: relative;
  p {
    margin-right: 10%;
    line-height: 25px;
  }
  #aboutMeElipsis {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #6c9ce4;
    margin-right: 10%;
  }
}
// class used to limit AboutMe section
.limitedHeightAboutMe {
  max-height: 300px;
  overflow: hidden;
}

// class used to delete height limits
.unlimitedHeight {
  max-height: 450px;
  overflow: hidden;
}

#work {
  text-align: left;

  .activeLi {
    font-weight: bold;
    color: #6c9ce4;
  }
  p {
    text-align: center;
  }


  ul {
    list-style-type: none;
    line-height: 30px;
    padding: 0;
    text-align: center;

  }
}

#welcome {
  margin-bottom: 10%;

  p {
    margin-right: 10%;
    line-height: 25px;
  }
}

#preview {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  .arrowNext {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: gray;
    opacity: 0;
  }
  .arrowPrev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    opacity: 0;
    display: none;
  }
}

#contact {
  input[type=text] {
     border: 1px solid #ECECED;
     margin-top: 5px;
     padding: 5px;
     width: 70%;
     font-family: 'Ubuntu';
  }
  #contact-message {
     border: 1px solid #ECECED;
     margin-top: 5px;
     display: inline-block;
     width: 70%;
     padding: 5px;
     font-family: 'Ubuntu';
  }
  input[type=image] {
     margin-top: 5px;
     padding: 5px;
     width: 10%;
  }

}

#contactDetails {
  p {
    font-family: 'Ubuntu';
    font-size: 14px;
    display: block;
  }
  span {
    color: #8181e2;
  }
  img {
    float: left;
    margin-right: 5%;
  }
  div {
    display: flex; //przy mobilu zmienic
    // justify-content: center;
    align-items: center;
    margin-bottom: 2%;
  }
}

#technology {
  text-align: center;
  img {
    width: 40%;
    display: inline-block; //przy mobilu zmienic
    margin: 0 auto;
  }
}

#canHelp {
  margin-top: 10%;
  img {
    float: left;
  }
  ul {
    list-style-type: none;
    line-height: 30px;
    padding: 0;
    font-family: 'Ubuntu';
    font-size: 14px;
  }
}

// footer
#top {
  text-align: right;
}

#copyright {
  text-align: center;
  color: gray;
  font-size: 8px;
  p {
    font-size: 8px;
  }
}

.hr {
  border: 1px solid #F5FFFA;
}
// PREVIEW
#preview {
  max-height: 440px;
  max-width: 440px;
  // display: flex;
  // position: relative;
  img {
    display: none;
  }
  img:first-of-type {
    display: block;
  }
}


// PROGRES BARY
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:20px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:20px;
	line-height:20px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:20px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:20px;
	line-height:20px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
